eth-bench/contracts/precompiled/
eth-bench/results/
eth-bench/testnet/
eth-bench/era1/

sui-bench/results/
sui-bench/scripts/results/
sui-bench/scripts/logs/
sui-bench/logs/

f2fs-tools-fdp/

# cargo build artifacts
sui-bench/target/
sui-bench/.package_id
Cargo.lock

# Move build artifacts
sui-bench/move/*/build/
sui-bench/Move.lock
sui-bench/*.localnet.toml
sui-bench/*.devnet.toml
sui-bench/*.testnet.toml

.DS_Store
*.swp
*~
*.log
*.txt
*.tmp
chat.json